/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/images/*
/public/fonts/*
/public/assets/*
/public/mix-manifest.json
/storage/*.key
/storage/framework/sessions
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
composer.lock
npm-debug.log
.env
resources/assets/js/message.js
.DS_Store
