.welcomeCard {
    @include responsiveProperty(padding, 2rem);

    h2 {
        @include h4;
        + p {
            margin-top: -$baseLineHeight;
        }
    }

    a {
        border-bottom: none;
        font-weight: $fontWeightBold;
        @include fontSize(0.875rem);
    }

    .inputField {
        ~ .inputField {
            margin-top: $small;
        }
    }

    [type="submit"] {
        margin-top: $small;
        min-width: 100%;
        @media (min-width: $tabletBreakpoint) {
            min-width: 10rem;
        }
    }

}
